{% load staticfiles %}
<html>
<style>
body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>
<div class="page-header">
  <div style="background-color:#7bceeb;">

               <h1><a href="/">Consultas</a></h1>
               </div>
               <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">
      <link rel="stylesheet" href="{% static 'static/css/blog.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

               {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
 </div>
</html>
{% block content %}
{% endblock %}
